[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-camelcasemotion"]
	path = .vim/bundle/vim-camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git@github.com:kippr/vim-dispatch.git
[submodule ".vim/bundle/vim-AnsiEsc"]
	path = .vim/bundle/vim-AnsiEsc
	url = git://github.com/vim-scripts/AnsiEsc.vim.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = https://github.com/kippr/snipmate.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-pep8-indent"]
	path = .vim/bundle/vim-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".vim/bundle/ConflictMotions"]
	path = .vim/bundle/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule ".vim/bundle/CountJump"]
	path = .vim/bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
[submodule "vim/bundle/vimwiki"]
	path = .vim/bundle/vimwiki
	url = git@github.com:kippr/vimwiki.git
[submodule ".vim/bundle/ingo-library"]
	path = .vim/bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule ".vim/bundle/csv.vim"]
	path = .vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/github/start/copilot.vim"]
	path = .vim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
