[user]
	name = Kris Powell
	email = kris.powell@kkr.com
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/kip/.gitignore
	attributesfile = /Users/kip/.gitattributes
[color "diff"]
	whitespace = blue reverse
[pager]
        diff = /Users/kip/bin/diff-highlight | less
        log = /Users/kip/bin/diff-highlight | less
        show = /Users/kip/bin/diff-highlight | less
[alias]
    aa = add --all
	co = checkout
	ci = commit --verbose
	br = branch
	stat = status
	st = status
	s  = status
    f = fetch
    l  = "!. ~/.githelpers && pretty_git_log --all"
    r  = "!git l -30"
	ll = log --stat --graph --decorate --all
	h  = log --stat --decorate -1
	di = diff --ignore-space-at-eol
    diw = diff --color-words
	dc = diff --cached --ignore-space-at-eol
    dcw = diff --cached --color-words
    amend = commit --amend -C HEAD
    re = "!. ~/.githelpers && rebase_unpushed"
	ctags = !.git/hooks/ctags
    save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -anm\"Stashed: $1\" && git checkout "$PREV"' -
    cob  = "!. ~/.githelpers && checkout_selected_branch"
    shows  = "!. ~/.githelpers && show_selected_revision"
    files = diff-tree --no-commit-id --name-only -r
    down = pull --rebase
[diff "tgz"]
	textconv = tar zvtf
[diff "docx"]
	textconv = dump-docx.sh
[diff "xlsx"]
	textconv = dump-xlsx.sh
[diff "prettyxml"]
    textconv = xml fo
[diff "xml2yaml"]
    textconv = to -o .yml -i
[diff "ipynb"]
    textconv = dump-ipynb.sh
[diff]
	tool = vimdiff
[remote "origin"]
	push = HEAD
[push]
    default = current
[init]
	templatedir = ~/.git_template
[branch "*branch-name*"]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
